{% extends 'layouts/basic.html' %}
{% load bootstrap4 %}

{% block title %}
Сброс пароля
{% endblock title %}

{% block content %}
<h1>Введите почту, на которую зарегистрирован ваш аккаунт</h1>
<form method="post" class="container">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="row">
        <div class="col-md">
            <a href="{% url 'main' %}" class="form-a">На главную</a>
        </div>
        <div class="col-md">
            <a class="form-btn-a" href="{% url 'login' %}">Назад</a>
        </div>
        <div class="col-md">
            {% buttons submit='Ввести' %}{% endbuttons %}
        </div>
    </div>
</form>
{% endblock content %}